-r requirements.txt

# action to create report PR
pytablewriter

# lint/format/types
black
flake8
pytype
pytest-mock
# for database cleanup during testing
sqlalchemy

# install & pin for networkx
decorator
